/node_modules
/vendor

/public/hot
/public/storage
/public/assets/upload
/public/assets/vendor

/storage/*.key
/storage/app/backup-temp
/storage/app/Laravel
/storage/credentials.json
/storage/firebase-credentials.json


package-lock.json

.env
.env.backup
passport.txt
